<!-- German pages -->
{{ if eq .Lang "de" }}
<link rel="canonical" href="https://polsterei-hb-zuerich.ch/de{{ if ne .RelPermalink "/de/" }}{{ .RelPermalink | replaceRE "^/de" "" }}{{ end }}">
{{ end }}

<!-- English pages -->
{{ if eq .Lang "en" }}
<link rel="canonical" href="https://polsterei-hb-zuerich.ch/en{{ if ne .RelPermalink "/en/" }}{{ .RelPermalink | replaceRE "^/en" "" }}{{ end }}">
{{ end }}

<!-- Add hreflang tags to establish relationships between language versions -->
<link rel="alternate" hreflang="de" href="https://polsterei-hb-zuerich.ch/de{{ if ne .RelPermalink (printf "/%s/" .Lang) }}{{ strings.TrimPrefix (printf "/%s" .Lang) .RelPermalink }}{{ end }}">
<link rel="alternate" hreflang="en" href="https://polsterei-hb-zuerich.ch/en{{ if ne .RelPermalink (printf "/%s/" .Lang) }}{{ strings.TrimPrefix (printf "/%s" .Lang) .RelPermalink }}{{ end }}">
<link rel="alternate" hreflang="x-default" href="https://polsterei-hb-zuerich.ch/de/"> 