@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --radius: 0.5rem;
  }

  body {
    @apply bg-[#f8f8f8] text-[#2B1810] antialiased;
    font-family: 'Inter', sans-serif;
  }

  /* Smooth Scrolling */
  html {
    scroll-behavior: smooth;
  }
}